.container{
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: white;
}

.arrumar{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.coisas{
    max-width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    padding: 20px;
    margin-bottom: 20px;
}

#input{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
}

p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: gray;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 16px;
    color: gray;
}

li:last-child{
    border-bottom: none;
}

#botao{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    color: white;
    transition: background-color 0.3s ease;
    text-align: center;
}